#drawflow-canvas {
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;

  &:hover {
    cursor: move;
  }
  
  .connection > .main-path {
    stroke: #7287fd;
  }
  
  .sample-node {
    background-color: white;
    color: black;

    &:hover {
      cursor: pointer;
    }
    
    > .inputs > .input {
      background-color: white;
      border-color: black;
    }
    
    > .outputs > .output {
      border-color: black;
    }
  }
}