#drawflow-canvas {
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;

  &:hover {
    cursor: move;
  }
  
  .sample-node {
    background-color: white;
    color: black;
  }
}