#drawflow-canvas {
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;

  &:hover {
    cursor: move;
  }
  
  .connection > .main-path {
    stroke: #7287fd;
  }
  
  .sample-node {
    background-color: white;
    color: black;

    &:hover {
      cursor: pointer;
    }
    
    > .inputs > .input {
      background-color: white;
      border-color: black;
    }
    
    > .outputs > .output {
      border-color: black;
    }
  }
}


#nodePanel {
  background-color: var(--dark-surface-0);
  border-radius: 15px;
  height: calc(100% - 20px);
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 500px;
  z-index: 1;
}